<%@ Master Language="C#" AutoEventWireup="true" CodeFile="PageMaitre.master.cs" Inherits="Fragments_MasterPage" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title>Master Page</title>
    <asp:ContentPlaceHolder id="Head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="frmPrincipal" runat="server">
    <div>
        <asp:ContentPlaceHolder id="ContenuPrincipal" runat="server">
        </asp:ContentPlaceHolder>
    </div>
    </form>
</body>
</html>
