<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="netstandard, Version=2.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="/Pages/Connexion.aspx" defaultUrl="/Accueil"/>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
  </system.web>
  <connectionStrings>
    <add name="BDConnectionString" connectionString="Data Source=sqlinfo.cgodin.qc.ca;Initial Catalog=BD5W6_424P;User ID=5w6equipe424p;Password=Secret72413" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>